:root {
    --primary-color: #e50914; 
    --dark-color: #141414;      
    --light-dark-color: #181818; 
    --light-color: #ffffff;     
    --grey-color: #8c8c8c;      
    
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --header-height: 70px;
}